<% if @tag.bookmark %>
<h1>New Tag for <%= @tag.bookmark.name %>!</h1><br>
<% else %>
<h1>New Tag!</h1><br>
<% end %>

<%= render partial: "layouts/errors", locals: {object: @tag} %><br>
<%= render partial: "form" %>
