// this is the main stylesheet for the application it will be compiled to application.css

body {
  text-align: center;
  background-color: #59aaaa;
}

// navigation bar styles
.navbar {
  border-bottom: 2px solid #706f6f;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  padding: 0;
  text-align: center; /* center the navbar */
}

// home page styles
.home-container {

  .h1 {
  font-size: 2.5em;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 0;
}
}


// error message styles
.error-message {
  color: #ff1900;
  font-size: 0.8em;
  margin-top: 0.5em;
} 