// this is the main stylesheet for the application it will be compiled to application.css

// global styles for the application
    * {
      font-family: 'Menlolgs','sans-serif';
    }

// body styles
    body {
      padding-top: 5rem;
      padding-bottom: 5rem;
      text-align: center;
      background-color: #ffffff
    }

// navigation bar styles
    .navbar {
      font-size: 1.2rem;
      border: .3rem solid #706f6f;
      border-radius: .5rem;
      padding: 0;
      background-color: inherit;
      position: absolute;
      width: -webkit-fill-available;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }

// footer  styles
    .footer {
      font-size: 1.2rem;;
      border: .3rem solid #706f6f;
      border-radius: .5rem;
      padding: 0;
      background-color: inherit;
      position: absolute;
      width: -webkit-fill-available;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }

// error message styles
    .error-message {
      color: #ff1900;
      font-size: 0.8em;
      margin-top: 0.5em;
    } 

// signup page styles
    .signup-form {
      h4 {
        color: #ff0000;
        font-size: 1.5rem;
      }
    }

// login page styles
    .login-form {
      h1 {
        color: #000000;
        font-size: 4rem;
      }
    }